html, body {
  margin: 0;
  padding: 0;
  height: 300%;
  background: #0b1020;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 80vmin; /* займає більшу частину екрану */
  height: 80vmin;
  object-fit: cover;
  border-radius: 50%; /* робить круглим */
  animation: pulse 4s ease-in-out infinite;
  box-shadow: 0 0 40px rgba(255, 140, 0, 0.8);
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
    box-shadow: 0 0 40px rgba(255, 140, 0, 0.8);
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 0 60px rgba(255, 180, 0, 1);
  }
}
